{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<header id="headerwrap" class="backstretched">
    <div class="container vertical-center">
        <div class="intro-text vertical-center text-center smoothie">
            <div class="intro-heading wow heading-font" data-wow-delay="0.2s">Login</div>
        </div>
    </div>
</header>

<!-- ___________________________________ MESSAGE ___________________________________ -->

{% if messages %}
    {% for message in messages %}
        <u><div class="alert alert-block alert-{{ message.tag }} text-center">{{ message }}</div></u>
    {% endfor %}
{% endif %}

<!-- ___________________________________ FORM ___________________________________ -->

<section id="welcome">
    <div class="section-inner">

        <div class="container mx-auto my30">
            <div class="col-md-12 mx-auto">
                <!-- <form method="POST"  class="main-contact-form wow">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                    <input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                    <input type="text" class="form-control col-md-4" name="website" placeholder="Your URL *" id="website" required data-validation-required-message="Please enter your web address." />
                    <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea> 

                    <input class="btn btn-primary mt30 btn-white pull-right" type="submit" name="submit" value="Submit" />
                    <button class="btn btn-primary mt30 btn-white pull-right" type="submit"></button> 
                    <div class="col-md-6 mx-auto">
                        <button class="btn btn-primary  btn-white" type="submit">Submit</button>
                        <input class="btn btn-primary mt30 btn-white pull-right" type="submit"  />
                    </div>
                    <div class="col-md-6 mx-auto text-right">
                            Already have an accout? <u><a href="#" class="ml-2"> Sign in</a></u> 
                    </div>
                </form>--> 

                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb4">Login</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <fieldset class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </fieldset>
                </form>
                <div class="col-md-6 mx-auto text-right">
                    Need an accout? <u><a href="{% url 'register' %}" class="ml-2"> Sign up now</a></u> 
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}