{% extends 'blog/base.html' %}
{% block content %}

<header id="headerwrap" class="backstretched">
    <div class="container vertical-center">
        <div class="intro-text vertical-center text-center smoothie">
            <div class="intro-heading wow heading-font" data-wow-delay="0.2s">Logout</div>
        </div>
    </div>
</header>

<section id="welcome">
    <div class="section-inner mt5">

        <div class="container mx-auto my30">
            <div class="col-md-12 mx-auto">
                <h2>{{ user.username }}</h2>
            </div>
        </div>

    </div>
</section>
{% endblock content %}