{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<header id="headerwrap" class="backstretched">
    <div class="container vertical-center">
        <div class="intro-text vertical-center text-center smoothie">
            <div class="intro-heading wow heading-font" data-wow-delay="0.2s">{{ user.username }}'s Profile</div>
        </div>
    </div>
</header>

<!-- ___________________________________ MESSAGES ___________________________________ -->

{% if messages %}
{% for message in messages %}
    <u><div class="alert alert-block alert-{{ message.tag }} text-center">{{ message }}</div></u>
{% endfor %}
{% endif %}

<section>
    <div class="section-inner">
        <div class="container">
            <div class="row">

                
                
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="{{ user.profile.image.url }}" class="img-responsive smoothie" alt="profile picture">
                                <div class="overlay-item-caption smoothie"></div>
                            </div>
                            <h2 class="post-title">{{ user.username }}</h2>
                            <div class="item-metas text-muted mb30">
                                <span class="meta-item"><i class="pe-icon pe-7s-timer"></i> SINCE <span>{{ user.date_joined|date:"d/m/y" }}</span></span>
                                <!--<span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>{{ post.author }}</span></span> -->
                                {% if user.email %}
                                <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> EMAIL <span>{{ user.email }}</span></span>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


                <!-- ___________________________________ FORM ___________________________________ -->

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <fieldset class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </fieldset>
            </form>


        </div>
    </div>
</section>

    </div>
</section>
{% endblock content %}