{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'blog/img/ico/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'blog/img/ico/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/img/ico/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/img/ico/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" href="{% static 'blog/img/ico/apple-touch-icon-57x57.png' %}">
    
    {% if title %}
    <title>M's Blog - {{ title }}</title>
    {% else %}
    <title>M's Blog</title>
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/plugins.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/pe-icons.css' %}" rel="stylesheet">

</head>

<body id="page-top" class="index">

    <div class="master-wrapper">

        <div class="preloader">
            <div class="preloader-img">
                <span class="loading-animation animate-flicker"><p>Loading ...</p></span>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s">
            <div class="container">
                
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand smoothie logo logo-light" href="{% url 'blog-home' %}"><img src="{% static 'blog/img/logo.png' %}" alt="logo"></a>
                    <a class="navbar-brand smoothie logo logo-dark" href="{% url 'blog-home' %}"><img src="{% static 'blog/img/logo_reverse.png' %}" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{ user.username}}<span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Post <span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'post-create' %}">Create a Post</a></li>
                            </ul>
                        </li>
                        
                        {% else %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Account <span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                            </ul>
                        </li>

                        {% endif %}

                        
                    </ul>
                </div>
            </div>
        </nav>

        <!-- ______________________________________ BODY ____________________________________ -->
        
        {% block content %}
        {% endblock content %}

         <!-- ___________________________________ FOOTER ___________________________________ -->

         <footer class="white-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="list-inline social-links wow">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <!-- <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </li> -->
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>

                    <hr class="thin-hr" />

                    <div class="col-md-12 text-center wow">
                        <!-- <span class="copyright">Copyright 2021. Designed by DISTINCTIVE THEMES</span> -->
                        <span class="copyright">Copyright 2021. Companie Micky</span>
                    </div>
                </div>
            </div>
        </footer>

        

    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins.js' %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{% static 'blog/js/init.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    $(document).ready(function() {
        'use strict';
        jQuery('#headerwrap').backstretch([
            "assets/img/bg/bg1.jpg",
            "assets/img/bg/bg2.jpg",
            "assets/img/bg/bg3.jpg"
        ], {
            duration: 8000,
            fade: 500
        });
    });
    </script>

</body>

</html>