{% extends 'blog/base.html' %}
{% load static %}


    {% block content %}
         <!-- ___________________________________ HEADER ___________________________________ -->


        <header id="headerwrap" class="backstretched special-max-height">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">M's Blog</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Learning programming is a journey full of <span class="rotate">bug, passion, work, coffee</span></div>
                </div>
            </div>
        </header>

         <!-- ___________________________________ MESSAGES ___________________________________ -->

         {% if messages %}
            {% for message in messages %}
                <u><div class="alert alert-block alert-{{ message.tag }} text-center">{{ message }}</div></u>
            {% endfor %}
        {% endif %}

        <!-- ___________________________________ POSTS ___________________________________ -->
        
        <section>
            <div class="section-inner">
                <div class="container">
                    <div class="row">

                        
                        {% for post in posts %}
                        <div class="col-sm-4 blog-item mb100 wow match-height">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="hover-item mb30">
                                        <img src="{% static 'blog/img/news/1.jpg' %}" class="img-responsive smoothie" alt="title">
                                        <div class="overlay-item-caption smoothie"></div>
                                        <div class="hover-item-caption smoothie">
                                            <h3 class="vertical-center smoothie"><a href="{% url 'post-detail' post.id %}" class="smoothie btn btn-primary page-scroll" title="view article">View</a></h3>
                                        </div>
                                    </div>
                                    <h2 class="post-title">{{ post.title }}</h2>
                                    <div class="item-metas text-muted mb30">
                                        <span class="meta-item"><i class="pe-icon pe-7s-timer"></i> POSTED <span>{{ post.date_posted|date:"d/m/y" }}</span></span>
                                        <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>{{ post.author }}</span></span>
                                        <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> COMMENTS <span>3</span></span>
                                    </div>
                                    <p>{{ post.content }}</p>
                                    <a class="btn btn-primary mt30" href="{% url 'post-detail' post.id %}">Read More</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                     <!-- ___________________________________ PAGINATION ___________________________________ -->

                    <div class="row paging text-center">
                        <a class="btn btn-primary mt30" href="#">Older Posts</a>
                    </div>
                </div>
            </div>
        </section>
        {% endblock content %}

 